In [1]:
import os
import numpy as np
import pandas as pd
import xarray as xr

In [2]:
plant_fileName = "./ggcmi/phase2_outputs/dataset/A0/plant-day/pdssat_agmerra_fullharm_plant-day_mai_global_annual_1980_2010_C360_T0_W-50_N60_A0.nc4"
maty_fileName = "./ggcmi/phase2_outputs/dataset/A0/maty-day/pdssat_agmerra_fullharm_maty-day_mai_global_annual_1980_2010_C360_T0_W-50_N60_A0.nc4"
yield_fileName = "./ggcmi/phase2_outputs/dataset/A0/yield/pdssat_agmerra_fullharm_yield_mai_global_annual_1980_2010_C360_T0_W-50_N60_A0.nc4"

plant_fileName_1 = "./ggcmi/phase2_outputs/dataset/A1/plant-day/pdssat_agmerra_fullharm_plant-day_mai_global_annual_1980_2010_C360_T0_W-50_N60_A1.nc4"
maty_fileName_1 = "./ggcmi/phase2_outputs/dataset/A1/maty-day/pdssat_agmerra_fullharm_maty-day_mai_global_annual_1980_2010_C360_T0_W-50_N60_A1.nc4"
yield_fileName_1 = "./ggcmi/phase2_outputs/dataset/A1/yield/pdssat_agmerra_fullharm_yield_mai_global_annual_1980_2010_C360_T0_W-50_N60_A1.nc4"




plantData = xr.open_dataset(plant_fileName, decode_times=False)
matyData = xr.open_dataset(maty_fileName, decode_times=False)
yieldData = xr.open_dataset(yield_fileName, decode_times=False)

plantData_1 = xr.open_dataset(plant_fileName_1, decode_times=False)
matyData_1 = xr.open_dataset(maty_fileName_1, decode_times=False)
yieldData_1 = xr.open_dataset(yield_fileName_1, decode_times=False)




units, referenceDate = plantData.time.attrs['units'].split('since')
plantData['time'] = pd.date_range(start=referenceDate, periods=plantData.sizes['time'], freq='MS')

units, referenceDate = matyData.time.attrs['units'].split('since')
matyData['time'] = pd.date_range(start=referenceDate, periods=matyData.sizes['time'], freq='MS')

units, referenceDate = yieldData.time.attrs['units'].split('since')
yieldData['time'] = pd.date_range(start=referenceDate, periods=yieldData.sizes['time'], freq='MS')




units, referenceDate = plantData_1.time.attrs['units'].split('since')
plantData_1['time'] = pd.date_range(start=referenceDate, periods=plantData_1.sizes['time'], freq='MS')

units, referenceDate = matyData_1.time.attrs['units'].split('since')
matyData_1['time'] = pd.date_range(start=referenceDate, periods=matyData_1.sizes['time'], freq='MS')

units, referenceDate = yieldData_1.time.attrs['units'].split('since')
yieldData_1['time'] = pd.date_range(start=referenceDate, periods=yieldData_1.sizes['time'], freq='MS')





# plantData['plant-day_mai'].to_dataframe().to_csv('./plantData.csv')
plantDF = plantData['plant-day_mai'].to_dataframe()
matyDF = matyData['maty-day_mai'].to_dataframe()

plantDF_1 = plantData_1['plant-day_mai'].to_dataframe()
matyDF_1 = matyData_1['maty-day_mai'].to_dataframe()





yieldDF = yieldData.yield_mai.to_dataframe()
yieldDF_1 = yieldData_1.yield_mai.to_dataframe()
# .to_csv("./temp_yield_file.csv")
# yieldDF = pd.read_csv('./temp_yield_file.csv')
# os.system("rm -rvf ./temp_yield_file.csv")

del plantData, matyData, yieldData, plantData_1, matyData_1, yieldData_1, units, referenceDate, plant_fileName, maty_fileName, plant_fileName_1, maty_fileName_1

In [3]:
plant_day_mai = plantDF['plant-day_mai']
del plantDF

maty_day_mai = matyDF['maty-day_mai']
del matyDF



plant_day_mai_1 = plantDF_1['plant-day_mai']
del plantDF_1

maty_day_mai_1 = matyDF_1['maty-day_mai']
del matyDF_1

In [5]:
splittedFilename = yield_fileName.split('/')[-1].split('_')

raw_CO2, raw_W, raw_T, raw_N, raw_A = splittedFilename[9], splittedFilename[11], splittedFilename[10], splittedFilename[12], splittedFilename[13]

CO2, N, A = int(raw_CO2[1:]), int(raw_N[1:]), int(raw_A[1])
T, W = raw_T.split('-'), raw_W.split('-')

if len(T) > 1:
    T = int(T[-1])
else:
    T = int(T[-1][-1])


if len(W) > 1:
    W = int(W[-1])
else:
    W = W[0].strip()
    if len(W) > 3:
        W = np.inf
    else:
        W = int(W[1:])


print("[INFO]. CO2 : ", CO2)
print("[INFO].  W  : ", W)
print("[INFO].  T : ", T)
print("[INFO].  N : ", N)
print("[INFO].  A : ", A)

del raw_CO2, raw_A, raw_N, raw_T, raw_W, splittedFilename






splittedFilename = yield_fileName_1.split('/')[-1].split('_')

raw_CO2, raw_W, raw_T, raw_N, raw_A = splittedFilename[9], splittedFilename[11], splittedFilename[10], splittedFilename[12], splittedFilename[13]

CO2_1, N_1, A_1 = int(raw_CO2[1:]), int(raw_N[1:]), int(raw_A[1])
T_1, W_1 = raw_T.split('-'), raw_W.split('-')

if len(T_1) > 1:
    T_1 = int(T_1[-1])
else:
    T_1 = int(T_1[-1][-1])


if len(W_1) > 1:
    W_1 = int(W_1[-1])
else:
    W_1 = W_1[0].strip()
    if len(W_1) > 3:
        W_1 = np.inf
    else:
        W_1 = int(W[1:])


print("[INFO]. CO2 : ", CO2_1)
print("[INFO].  W  : ", W_1)
print("[INFO].  T : ", T_1)
print("[INFO].  N : ", N_1)
print("[INFO].  A : ", A_1)

del raw_CO2, raw_A, raw_N, raw_T, raw_W, splittedFilename

[INFO]. CO2 :  360
[INFO].  W  :  50
[INFO].  T :  0
[INFO].  N :  60
[INFO].  A :  0
[INFO]. CO2 :  360
[INFO].  W  :  50
[INFO].  T :  0
[INFO].  N :  60
[INFO].  A :  1

In [6]:
yieldDF['CO2'] = CO2
yieldDF['W'] = W
yieldDF['T'] = T
yieldDF['N'] = N
yieldDF['A'] = A

del CO2, W, T, N, A

yieldDF_1['CO2'] = CO2_1
yieldDF_1['W'] = W_1
yieldDF_1['T'] = T_1
yieldDF_1['N'] = N_1
yieldDF_1['A'] = A_1

del CO2_1, W_1, T_1, N_1, A_1

In [7]:
yieldDF['plant-day'] = plant_day_mai
yieldDF['maturity-day'] = maty_day_mai



yieldDF_1['plant-day'] = plant_day_mai_1
yieldDF_1['maturity-day'] = maty_day_mai_1

In [8]:
# yieldDF.yield_mai = yieldDF.yield_mai.astype('uint8')
yieldDF = yieldDF.reset_index()
yieldDF_1 = yieldDF_1.reset_index()

yieldDF.yield_mai = np.round(yieldDF.yield_mai)
yieldDF_1.yield_mai = np.round(yieldDF_1.yield_mai)

yieldDF = yieldDF.dropna(how='any')
yieldDF_1 = yieldDF_1.dropna(how='any')

yieldDF = pd.concat([yieldDF, yieldDF_1], ignore_index=True)

del yieldDF_1
yieldDF

,time,lat,lon,yield_mai,CO2,W,T,N,A,plant-day,maturity-day
0,1980-01-01,64.75,19.75,0.0,360,50,0,60,0,92.0,196.0
1,1980-01-01,63.25,10.25,1.0,360,50,0,60,0,92.0,203.0
2,1980-01-01,61.75,29.75,2.0,360,50,0,60,0,121.0,182.0
3,1980-01-01,61.25,-123.75,0.0,360,50,0,60,0,92.0,171.0
4,1980-01-01,61.25,5.25,1.0,360,50,0,60,0,92.0,206.0
...,...,...,...,...,...,...,...,...,...,...,...
1704713,1982-07-01,-38.25,178.25,0.0,360,50,0,60,1,276.0,84.0
1704714,1982-07-01,-41.75,147.75,4.0,360,50,0,60,1,2.0,188.0
1704715,1982-07-01,-42.25,146.75,4.0,360,50,0,60,1,2.0,142.0
1704716,1982-07-01,-42.75,146.75,1.0,360,50,0,60,1,2.0,142.0
1704717,1982-07-01,-46.25,169.75,0.0,360,50,0,60,1,1.0,159.0

In [9]:
soilFile = "/home/samay/Desktop/IIT/HPC-project/ggcmi/HWSD/HWSD_soil_data_on_cropland_v2.2.nc"
soilData = xr.open_dataset(soilFile)

soilDF = soilData.to_dataframe()
soilDF = soilDF.reset_index()
soilDF = soilDF.dropna(how='any')
soilDF = soilDF.drop(columns=['mu_global', 'bulk_density', 'root_obstacles', 'impermeable_layer', 'ece', 'bs_soil', 'issoil'])
soilDF

,lon,lat,texture_class,soil_ph,soil_caco3,cec_soil,oc,awc,sand,silt,clay,gravel
37,-179.75,71.25,7.0,6.6,0.0,12.0,1.150000,15.0,26.0,63.0,11.0,22.0
38,-179.75,70.75,7.0,6.6,0.0,12.0,1.150000,15.0,26.0,63.0,11.0,22.0
42,-179.75,68.75,7.0,6.6,0.0,12.0,1.150000,15.0,26.0,63.0,11.0,22.0
45,-179.75,67.25,7.0,6.6,0.0,12.0,1.150000,15.0,26.0,63.0,11.0,22.0
46,-179.75,66.75,7.0,6.6,0.0,12.0,1.150000,15.0,26.0,63.0,11.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...
258887,179.75,66.25,7.0,6.6,0.0,12.0,1.150000,15.0,26.0,63.0,11.0,22.0
258888,179.75,65.75,9.0,5.1,0.0,11.0,1.170000,150.0,40.0,39.0,21.0,2.0
258889,179.75,65.25,3.0,4.3,0.0,77.0,33.630001,150.0,20.0,40.0,40.0,1.0
258890,179.75,64.75,9.0,5.1,0.0,11.0,1.170000,150.0,40.0,39.0,21.0,2.0
258894,179.75,62.75,7.0,6.6,0.0,12.0,1.150000,15.0,26.0,63.0,11.0,22.0

In [10]:
yieldDF = pd.merge(yieldDF, soilDF, on=['lat', 'lon'], how='inner')

print(yieldDF.columns)

yieldDF

Index(['time', 'lat', 'lon', 'yield_mai', 'CO2', 'W', 'T', 'N', 'A',
       'plant-day', 'maturity-day', 'texture_class', 'soil_ph', 'soil_caco3',
       'cec_soil', 'oc', 'awc', 'sand', 'silt', 'clay', 'gravel'],
      dtype='object')

,time,lat,lon,yield_mai,CO2,W,T,N,A,plant-day,...,texture_class,soil_ph,soil_caco3,cec_soil,oc,awc,sand,silt,clay,gravel
0,1980-01-01,64.75,19.75,0.0,360,50,0,60,0,92.0,...,9.0,4.5,0.0,28.0,5.27,50.0,50.0,40.0,10.0,15.0
1,1981-06-01,64.75,19.75,1.0,360,50,0,60,0,92.0,...,9.0,4.5,0.0,28.0,5.27,50.0,50.0,40.0,10.0,15.0
2,1981-11-01,64.75,19.75,2.0,360,50,0,60,0,92.0,...,9.0,4.5,0.0,28.0,5.27,50.0,50.0,40.0,10.0,15.0
3,1982-03-01,64.75,19.75,2.0,360,50,0,60,0,92.0,...,9.0,4.5,0.0,28.0,5.27,50.0,50.0,40.0,10.0,15.0
4,1980-01-01,64.75,19.75,0.0,360,50,0,60,1,92.0,...,9.0,4.5,0.0,28.0,5.27,50.0,50.0,40.0,10.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254711,1982-07-01,46.75,138.25,0.0,360,50,0,60,1,187.0,...,11.0,5.1,0.0,5.0,0.70,15.0,75.0,15.0,10.0,10.0
254712,1982-07-01,45.25,136.25,1.0,360,50,0,60,0,187.0,...,11.0,5.1,0.0,5.0,0.70,15.0,75.0,15.0,10.0,10.0
254713,1982-07-01,45.25,136.25,1.0,360,50,0,60,1,187.0,...,11.0,5.1,0.0,5.0,0.70,15.0,75.0,15.0,10.0,10.0
254714,1982-07-01,44.75,135.75,0.0,360,50,0,60,0,187.0,...,11.0,5.1,0.0,5.0,0.70,15.0,75.0,15.0,10.0,10.0
254715,1982-07-01,44.75,135.75,0.0,360,50,0,60,1,187.0,...,11.0,5.1,0.0,5.0,0.70,15.0,75.0,15.0,10.0,10.0

In [11]:
yieldDF.to_csv("./staticInput.csv")